In [1]:
import pandas as pd
df=pd.read_table('scz2.snp.results.txt.gz', delim_whitespace=True)
df.head()

  hg19chrc        snpid a1 a2      bp   info       or      se       p  ngt
0     chr1    rs4951859  C  G  729679  0.631  0.97853  0.0173  0.2083    0
1     chr1  rs142557973  T  C  731718  0.665  1.01949  0.0198  0.3298    0
2     chr1  rs141242758  T  C  734349  0.666  1.02071  0.0200  0.3055    0
3     chr1   rs79010578  A  T  736289  0.649  0.98748  0.0193  0.5132    0
4     chr1  rs143225517  T  C  751756  0.853  0.99681  0.0164  0.8431    0

In [3]:
df.rename(columns={'hg19chrc':'CHR', 'snpid':'SNP', 'a1':'A1', 'a2':'A2',
                   'or':'OR', 'se':'SE', 'p':'PVALUE', 'bp':'BP', 'info':'INFO'}, inplace=True)
df.drop(columns=['ngt'], inplace=True)
df.head()

    CHR          SNP A1 A2      BP   INFO       OR      SE  PVALUE
0  chr1    rs4951859  C  G  729679  0.631  0.97853  0.0173  0.2083
1  chr1  rs142557973  T  C  731718  0.665  1.01949  0.0198  0.3298
2  chr1  rs141242758  T  C  734349  0.666  1.02071  0.0200  0.3055
3  chr1   rs79010578  A  T  736289  0.649  0.98748  0.0193  0.5132
4  chr1  rs143225517  T  C  751756  0.853  0.99681  0.0164  0.8431

In [4]:
df['N'] = 35476+46839

import numpy as np
from scipy import stats
df['Z'] = -stats.norm.ppf(df['PVALUE'].values*0.5)*np.sign(np.log(df['OR'].values))
df['CHR'] = pd.to_numeric(df['CHR'].str.replace('chr', ''), errors='coerce')
df.head()

,CHR,SNP,A1,A2,BP,INFO,OR,SE,PVALUE,N,Z
0,1.0,rs4951859,C,G,729679,0.631,0.97853,0.0173,0.2083,82315,-1.258254
1,1.0,rs142557973,T,C,731718,0.665,1.01949,0.0198,0.3298,82315,0.974517
2,1.0,rs141242758,T,C,734349,0.666,1.02071,0.0200,0.3055,82315,1.024710
3,1.0,rs79010578,A,T,736289,0.649,0.98748,0.0193,0.5132,82315,-0.653863
4,1.0,rs143225517,T,C,751756,0.853,0.99681,0.0164,0.8431,82315,-0.197930

In [5]:
df = df[~df['CHR'].isnull()].copy()
df['CHR']=df['CHR'].astype(int)
#df.to_csv('PGC_SCZ_2014.csv', index=False, sep='\t')
df.head()

,CHR,SNP,A1,A2,BP,INFO,OR,SE,PVALUE,N,Z
0,1,rs4951859,C,G,729679,0.631,0.97853,0.0173,0.2083,82315,-1.258254
1,1,rs142557973,T,C,731718,0.665,1.01949,0.0198,0.3298,82315,0.974517
2,1,rs141242758,T,C,734349,0.666,1.02071,0.0200,0.3055,82315,1.024710
3,1,rs79010578,A,T,736289,0.649,0.98748,0.0193,0.5132,82315,-0.653863
4,1,rs143225517,T,C,751756,0.853,0.99681,0.0164,0.8431,82315,-0.197930